/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*===== BASE STYLES ===== */
body {
  font-family: "Anonymous Pro", monospace;
}

h2 {
  text-align: center;
}

/*===== MOBILE STYLES ===== */
/*Header Styles */
header {
  margin-bottom: 10px;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header h1 {
  display: none;
}

header .logo img {
  max-width: 200px;
}

/*Nav Styles*/

nav {
  justify-self: end;
  padding-right: 15px;
}

.tablet-desktop_menu {
  display: none;
}

.sub-menu a {
  color: #fff;
  text-decoration: none;
}

/* Hero Styles */
.hero {
  background-image: url("../img/green-blue-purple\ gradient.png");
  background-size: cover;
  background-position: center;
  font-weight: bold;
  min-height: 300px;
}

.hero h2 {
  padding-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
}

.hero p {
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.33);
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.25em;
}

/* Portfolio Styles */
.portfolio {
  margin-top: 75px;
}
.portfolio h2 {
  line-height: 1.2;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(134, 135, 222);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}

.portfolio-item {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 50px;
}

.portfolio-item img {
  max-width: 80%;
  border: solid black 1px;
  justify-self: center;
}

.portfolio-text {
  justify-self: center;
  max-width: 80%;
  padding-bottom: 10px;
}

.portfolio h3 {
  font-size: 1.25em;
}

.portfolio-item a {
  text-align: center;
}

#live-page {
  font-weight: bold;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 12px;
  background-color: rgb(113, 190, 207);
}

/* Skills Styles */
.skills h2 {
  font-size: 1.5em;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(247, 132, 172);
  top: 3086px;
  width: 125px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.skills-container {
  background-color: rgb(113, 190, 207);
  opacity: 0.831;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 5%;
  margin-right: 5%;
}

.skill {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skill img {
  justify-self: center;
  padding-top: 15px;
  padding-top: 15px;
}

.skill h3 {
  font-size: 1.25em;
  font-weight: bold;
}

.skill h4 {
  font-weight: bold;
}

#designer-skills,
#frontend-skills {
  border-bottom: #000 2px solid;
}

/*About Styles*/
.about {
  display: grid;
  grid-template-columns: 1fr;
  background-image: url("../img/green-blue-purple\ gradient.png");
  background-size: cover;
  background-position: center;
}

.about h2 {
  width: 125px;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(134, 135, 222);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.about #profile-pic {
  max-width: 200px;
  justify-self: center;
}

.about p {
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.33);
  font-weight: bold;
  font-size: 1.25em;
  margin-left: 5%;
  margin-right: 5%;
}

.about #hummingbird {
  max-width: 200px;
}

/* CTA Styles */
main .cta {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: -65px;
  margin-top: -45px;
  z-index: 2;
  position: sticky;
}

/* Footer Styles */

footer {
  background: url(../img/footer-gradient.png);
  background-size: cover;
}

footer p {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 25px;
  padding-top: 75px;
}

.social-media-item {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-bottom: 20px;
}

.social-media-item img {
  max-width: 100px;
}

.social-media a {
  color: #000;
  padding-bottom: 10px;
}

footer h4 {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  /*Tablet Styles*/

  /*Header Styles*/
  header {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  header .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  header h1 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 80%;
    justify-self: center;
    padding-top: 15px;
    font-family: "Playfair Display SC", serif;
  }

  /*Nav Styles*/
  nav {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
  }

  nav a.button,
  .sub-menu {
    display: none;
  }

  nav .tablet-desktop_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  nav .tablet-desktop_menu a {
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }

  #portfolio-a {
    padding-right: 15px;
  }

  nav a:hover {
    background: -webkit-linear-gradient(#f784ac, #8687de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
  }

  /*Hero Styles*/
  .hero {
    min-height: 450px;
  }
}

@media only screen and (min-width: 62em) {
  /* Style adjustments for viewports that meet the condition */
  /*Tablet Styles*/
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
